# ignore files
node_modules/
.DS_Store
public/media/audios/
public/media/videos/
public/media/images/
public/media/others/



# but keep the folder
!public/media/others/.gitkee
!public/media/images/.gitkee
!public/media/videos/.gitkee
!public/media/audios/.gitkee